/*Personal changes*/
#main{
    margin-top: -250px;
}

#image-bg{
    background-image: url("../images/image-bg.jpeg");
    background-color: #ffffff;
    background-position: top;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    padding: 2.5rem;
}

#image-pf{
    max-height: 170px;
}

#navbar{
    transition: top 0.3s;
}

.buttons-content{
    margin-top: 10px;
}

.background-color{
    height: 300px;
}

h1, h2, h3, h4{
    font-family: 'charm', cursive;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
    display: inline-block;
    -webkit-transition: border-bottom .3s ease;
    -moz-transition: border-bottom .3s ease;
    -o-transition: border-bottom .3s ease;
    -ms-transition: border-bottom .3s ease;
    transition: border-bottom .3s ease;
}
nav.nav-center ul li.active {
    border-bottom: #039be5  solid 3px;
}

nav.nav-center ul li:hover{
    border-bottom: #039be5  solid 3px;
}

